{:company/legal-name "ソフトバンクグループ株式会社"
 :company/lei "5493003BZYYYCDIO0R13"
 :company/jurisdiction "JP"
 :company/website "https://www.softbankgroup.com"
 :company/ticker "9984 (TSE Prime)"
 :company/inquiry-form-url "https://group.softbank/en/contact"}
